/*首页左侧分类*/
.category{
	width: 190px;
	background-color: #fff;
	border-radius: 5px;
	border-right: #e5e5e5 solid 1px;
}
.category ul{}
.category ul li{
	position: relative;
}
.category ul li i{ 
	position: absolute; 
	right: 80px;
	color: #11cd6e;
	opacity: 0;
	filter: alpha(opacity=0)
}
.category ul li a{
	display: block;
	height: 55px;
	line-height: 55px;
	text-align: left;
	padding-left: 20px;
	border-bottom: #e5e5e5 solid 1px;
	font-size: 16px;
	text-decoration: none;
	color: #333;
}
.category ul li a:hover{ color: #11cd6e; transition: all .3s; }
.category ul li a:hover i{ opacity: 1; filter: alpha(opacity=100); right: 5px; transition: all .3s; }


.main-box{
	padding-left: 20px;
}

/*首页焦点图*/
.banner{
	/*margin-left: 20px;*/
	height:250px;
}
.focusMap{
	overflow:hidden;
	width:665px;
	height:250px;
	position:relative;
	border-radius: 5px;
	z-index:0;
}
.focusMap .rImg img{
	width:665px;
	height:250px;
}
.focusMap ul li{
	float:left;
}
.focusMap span{
	display:none;
	width:35px;
	height:35px;
	line-height:35px;
	background:#000;
	position:absolute;
	opacity:0.2;
	cursor:pointer;
	z-index:20;
	color:#fff;
	top: 105px;
}
.focusMap span:hover{
	opacity:0.5;
}
.focusMap span i{
	text-align: center;
	line-height: 35px;
	display: inherit;
    font-size: 20px;
    color: #fff;
}
.focusMap .prev{
	left:5px;
}
.focusMap .next{
	right:5px;
}
.focusMap .button{
	height:10px;
	background:#e9e9e9;
	position:absolute;
	bottom:10px;
	left:315px;
	padding:2px 2px;
	border-radius:10px;
	opacity:0.9;
}
.focusMap .button li{
	height:10px;
	width:10px;
	background:#ccc;
	border-radius:5px;
	margin:0 2px;
	cursor:pointer;
}
.focusMap .button .on{
	background:#46b448;
}

/*首页 闲置列表*/
.index-list{ margin-top: 20px; }
.list-header{
	line-height: 50px;
	padding-left: 20px;
 	background-color: #fff;
 	margin-bottom: 15px;
 	border-radius: 5px;
 	border-bottom: #e5e5e5 solid 1px;
}
.list-header a{ 
	padding: 0 10px;
	text-decoration: none;
	color: #333;
	display: inline-block;
	font-size: 16px;
}
.list-header a.active{ border-bottom: #11cd6e solid 3px; }
.list-header a i{
    font-size: 20px;
    vertical-align: middle;
    margin-right: 5px;
 }
.list-body{ width: 665px; }
.list-body ul{ width: 680px; }
.list-body li{ 
	width: 213px; 
	border: #e5e5e5 solid 1px; 
	float: left; 
	margin-right: 11px;
	background-color: #fff;
	margin-bottom: 15px;
}
.list-body li:hover{
	border: #11cd6e solid 1px;
	transition: all .3s;
	box-shadow: #11cd6e 0px 1px 5px;
}

.pub-time{
	color: #ccc;
    font-size: 12px;
    line-height: 20px;
    margin-right: 5px;
}

.good-image{}
.good-image img{ width: 213px; height: 213px; border-bottom: #e5e5e5 solid 1px; }
.good-title{ 
	display: block; 
	color: #333; 
	text-decoration: none; 
	line-height: 28px; 
	padding: 0 5px; 
	overflow: hidden; 
	height: 25px;
	margin: 5px 0;
}
.good-title:hover{ color: #f40; }
.good-price{ 
	color: #f40; 
	font-weight: bold; 
	padding-left: 5px; 
	line-height: 25px;
}


/*首页侧边*/
.sidebar{}
.sidebar-banner-right,.sidebar-main-right{
	width: 200px;
	border: #e5e5e5 solid 1px;
	border-radius: 5px;
	background-color: #fff;
}
.sidebar-banner-right{
	height: 250px;
	margin-bottom: 18px;
}
.sidebar-main-right{
	/*height: 600px;*/
}
.sidebar-header{ 
	height: 50px;
	border-bottom: #e5e5e5 solid 1px;
	text-align: center;
	line-height: 50px;
	font-size: 17px;
	color: #11cd6e;
	display: block;
}
.sidebar-header:hover{
	background: #11cd6e;
	color: #fff;
	transition: all .3s;
}
.wei{
	padding: 10px;
}
.wei-left{ width: 45px; }
.wei-left a{
	display: block;
	width: 40px;
	height: 40px;
	background-repeat: no-repeat;
	overflow: hidden;
	margin-bottom: 10px;
	margin: 15px auto;
}
.wei-left a img{
	width: 40px;
	height: 40px;
}
.wei-right{ position: relative; }
.wei-right img{ width: 120px; height: 120px; border: #11cd6e solid 1px; border-radius: 5px;}
.triangle {
    position: absolute;
    top: 25px;
    left: -6px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 7px solid #11cd6e;
}
.app-download{ height: 105px; text-align: center; padding: 0 20px; }
.app-download p{ line-height: 50px; color: #11cd6e; }
.app-download a{ 
	color: #11cd6e; 
	display: inline-block; 
	border: #11cd6e solid 2px; 
	border-radius: 5px; 
	height: 30px; 
	line-height: 30px; 
	padding: 0 20px;
}
.app-download a:hover{
	color: #fff;
	background-color: #11cd6e;
	transition: all .3s;
}

.jizhuan-list{}
.jizhuan-list li{ padding: 10px; border-bottom: #e5e5e5 solid 1px; }
.jizhuan-list li a:hover{ color: #f40; transition: all .3s; }
.jizhuan .jizhuan-image{
	display: block;
	width: 180px;
	height: 180px;
}
.jizhuan .jizhuan-title{
	line-height: 30px;
    height: 30px;
    overflow: hidden;
}
.jizhuan .jizhuan-price{
	/*color: #f40;
	font-weight: bold;*/
	color: #666;
    text-decoration: line-through;
}
span.yhq{
	color: #f30;
    border: #f30 solid 1px;
    padding: 0 4px;
    font-size: 13px;
    display: inline-block;
    border-radius: 3px;
    height: 20px;
    line-height: 20px;
    margin-left: 5px;
	font-weight: bold;
}
.jizhuan-list li a:hover span.yhq{
	background-color: #f30;
	color: #fff;
	transition: all .3s;
}
#page{
	text-align: center;
	margin: 20px 0 25px;
}
.layui-laypage .layui-laypage-curr .layui-laypage-em{
	background-color: #11cd6e;
}


.quan{
	color: #f30;
    display: inline-block;
    border: dashed #f30 1px;
    padding: 0 2px;
    float: right;
}


.image-show-box{ background: url(../../images/web/default_good.png) no-repeat;}
.image-real-box{ display: none;}



/*首页活动*/

.category ul li a.shuang11{
	padding: 0;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	overflow: hidden;
	height: 110px;
}